<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kiwi.persistent.ProductMapper">
    <resultMap id="resultProduct" type="org.kiwi.domain.Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <association property="currentPrice" column="id" javaType="org.kiwi.domain.Price"
                     select="selectCurrentPrice"/>
        <collection property="historyPrices" column="id" javaType="List"
                    select="selectPrices" fetchType="lazy"/>
    </resultMap>

    <resultMap id="resultPrice" type="org.kiwi.domain.Price">
        <id property="id" column="id"/>
        <result property="timestamp" column="timestamp"/>
        <result property="price" column="price"/>
        <result property="modifiedBy" column="modified_by"/>
    </resultMap>


    <select id="findProductById" resultType="org.kiwi.domain.Product" resultMap="resultProduct">
        select * from Product where id = #{id}
    </select>

    <select id="all" resultType="org.kiwi.domain.Product" resultMap="resultProduct">
        select * from Product
    </select>

    <select id="selectPrices" parameterType="int" resultType="org.kiwi.domain.Price" resultMap="resultPrice">
        select * from Price where product_id = #{id}
    </select>

    <select id="selectCurrentPrice" parameterType="int" resultType="org.kiwi.domain.Price" resultMap="resultPrice">
        select * from Price where id = (select max(id) from Price where product_id = 1)
    </select>

    <insert id="createProduct" parameterType="org.kiwi.domain.Product" keyProperty="id" useGeneratedKeys="true">
        insert into Product (name, description) values (#{name}, #{description})
    </insert>

</mapper>